@font-face {
   font-family: 'calibri';
   font-display: swap;
   src: url('file:///C:/Users/Administrator/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-10-22_080132/fonts/calibri/font.ttf');
}
